@model IEnumerable<test_app.Models.DocDiagnose>

<!DOCTYPE html>
<html>
<head>
    <title>DocDiagnose List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2>DocDiagnose List</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>DocId</th>
            <th>ProcId</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.DocId</td>
                <td>@item.DiagId</td>
                <td>
                    <form asp-action="Delete" asp-controller="DocDiagnose" method="post">
                        <input type="hidden" name="docId" value="@item.DocId"/>
                        <input type="hidden" name="diagId" value="@item.DiagId"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <a asp-action="Create" class="btn btn-primary">Create</a>
</div>

</body>
</html>