@model IEnumerable<test_app.Models.DocDiagnose>

<h1>DocDiagnoses</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>DocId</th>
        <th>DiagId</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var docDiagnose in Model)
    {
        <tr>
            <td>@docDiagnose.Id</td>
            <td>@docDiagnose.DocId</td>
            <td>@docDiagnose.DiagId</td>
            <td>
                <a asp-action="Edit" asp-route-id="@docDiagnose.Id" class="btn btn-primary">Edit</a>
                <form asp-action="Delete" method="post" style="display: inline;">
                    <input type="hidden" name="id" value="@docDiagnose.Id"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
