@model IEnumerable<test_app.Models.PatDiagnose>

<h1>PatDiagnoses</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>PatId</th>
        <th>DiagId</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var patDiagnose in Model)
    {
        <tr>
            <td>@patDiagnose.Id</td>
            <td>@patDiagnose.PatId</td>
            <td>@patDiagnose.DiagId</td>
            <td>
                <a asp-action="Edit" asp-route-id="@patDiagnose.Id" class="btn btn-primary">Edit</a>
                <form asp-action="Delete" method="post" style="display: inline;">
                    <input type="hidden" name="id" value="@patDiagnose.Id"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
