@model IEnumerable<test_app.Models.Procedure>

<h1>Procedures</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Body</th>
            <th>Cost</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var procedure in Model)
        {
            <tr>
                <td>@procedure.Id</td>
                <td>@procedure.Body</td>
                <td>@procedure.Cost</td>
                <td>@procedure.Date</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@procedure.Id" class="btn btn-primary">Edit</a>
                    <form asp-action="Delete" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="@procedure.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
