@model IEnumerable<test_app.Models.PatProcedure>

<!DOCTYPE html>
<html>
<head>
    <title>PatProcedure List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2>PatProcedure List</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>PatId</th>
            <th>ProcId</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.PatId</td>
                    <td>@item.Procid</td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="patId" value="@item.PatId"/>
                            <input type="hidden" name="procId" value="@item.Procid"/>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <a asp-action="Create" class="btn btn-primary">Create</a>
</div>

</body>
</html>
